{{#if login}}
{{else if admin}}
    <a href="#">Admin Links</a>
    <a href="/logout">Sign Out</a>
{{else if financeAdmin}}
    <a href="#">Admin Links</a>
    <a href="#">Finance Links</a>
    <a href="/logout">Sign Out</a>
{{else if salesAdmin}}
    <a href="#">Admin Links</a>
    <a href="#">Sales Links</a>
    <a href="/logout">Sign Out</a>
{{else if hrAdmin}}
    <a href="#">Admin Links</a>
    <a href="#">HR Links</a>
    <a href="/logout">Sign Out</a>
{{else if enggAdmin}}
    <a href="#">Admin Links</a>
    <a href="#">Engineering Links</a>
    <a href="/logout">Sign Out</a>
{{else}}
    <a href="/logout">Sign Out</a>
{{/if}}